<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='registration.css') }}">
</head>
<body>
    <form action="form_action.php" method="get">
        <div class="slo">Login     </div><input class="fir" type="text" name="fname"/><br/>
        <p></p>
        <div class="slo">Password     </div><input class="fir" type="text" name="lname"/><br/>
        <p></p>
        <input type="submit" value="Submit"/>
    </form>
    <a  class="but" href=""><button></button></a>
</body>
</html>
